/*css reset*/
*{
    margin: 0;
    padding: 0;
}

.div1
{
    background-color:#2F4F4F;
    padding:290px;
    color: white;
}

.div1 h1
{
   border:solid 2px white;
   text-align: center;
   padding: 50px;
   font-size: 40px

}
.div1 h2
{
    text-align: center;

}


.div2
{
    background-color:#000;
    padding: 190px;
    color: white;
}

 .div2 h3

 {
  margin-top: 60px;
  
  text-align: justify;


}


 .div2 .sobre
{
  text-align: center;
  font-size: 50px;
  
}

.div3
{
    background-color:white;
    padding: 90px;
}
.div4
{
    background-color: #008080;
    padding: 180px;
    text-align: center;

}
.nav
{
   background-color: #000;
   padding: 45px;
}
.nav ul  
{
    list-style: none;
    float: right;
 
}
.nav ul li
{
    display:inline;
    
    
    
}
.nav ul li a
{
    padding: 5px 10px;
    display:inline-block;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
      
}
 .nav .logo 
    
    {
    font-size: 30px;
    float: left;
    color: white;
    padding-bottom: 20px;
    list-style: none;
    }

 .nav .logo li
{
   border:solid 2px white;
   padding:2px;
}


/*imagem foto 
.image
{
  border-radius: 50%;
  width: 35%;
  float: left;
  margin-bottom:  100px;

}
/*

/*imagem do projeto conversor*/

 .imagemc
{
  width: 20%;
  display: inline-block;

}

/*imagem do projeto site de musica*/

.imagemusica
{
  width: 20%;
  margin-left: 20px;
  display: inline-block;
  
}

.contato
{
  color: white;
  padding-bottom: 50px;

}

i
{
  color: white;
}


/*Icones*/

#linkedin
{

  font-size: 60px;
  padding-right: 100px;
}

#email
{
  font-size: 60px;
  padding-right: 100px;
}

#whats
{

  font-size: 60px;
}
.div2a
{
  background-color: #000;
  color: white;
  padding: 100px;
  display: none;
  
}


/*------------------RESPONSIVIDADE----------------*/
 @media (max-width:480px ) 
 {
  
.nav
{
  display: none;
}

.div1
{
  width: 100%;
  padding: 0px;
}

.div1 h1
{
  font-size: 40px;
}
.div2
{
  display :none;
}

.div2a
{
  display: block;
  background-color: black;
}
.imagemc
{
  width: 200px;
  display: inline-block;
  padding-left: 50px;;

}

.imagemusica
{
  width: 200px;
  padding-left: 30px;
  padding-top: 10px;
}

.div4
{
  text-align: center;
  width: 100%;
  padding:5px;
  padding-bottom: 20px;
  padding-top: 10px;
}



}
/*----------------360---------------------*/
@media (max-width:360px ) 
{
 
.nav
{
 display: none;
}

.div1
{
 width:200px;
 padding: 0px;
}
.div1 h1
{
  font-size: 35px;
  position: relative;
  left: 5px;
}
.div2
{
 display: none;
}

.div2a
{
  display:block;
  background-color: black;
  font-size: 15px;
  padding: 20px;
}

.imagemc
{
position: relative;
right: 55px;
width: 200px;

 
}
.imagemusica
{
 position: relative;
 right: 55px;
 width: 200px;;
 
}

.div4
{
 text-align: center;
 width: 100%;
 padding:0px;
 padding-bottom: 50px;
 padding-top: 100px;
 font-size: 10px;;
}
#linkedin
{

  font-size: 40px;
  padding-right: 70px;
}

#email
{
  font-size: 40px;
  padding-right: 70px;
}

#whats
{

  font-size: 40px;
}

}

/*---------------------320---------------------*/
@media (max-width:320px)
{
.div1
{
  width: 160px;
}
.div1 h1
{
  font-size: 30px;
  position: relative;
  left: 5px;
  padding-left:25px;
  text-align: center;
}
.imagemc
{
position: relative;
right: 75px;
width: 200px;

}
.imagemusica
{
 position: relative;
 right: 75px;
 width: 200px;;
 
}
.div2a
{
  text-align: justify;
  
}

}

/*----------------------768-----------------------*/
@media (max-width:768px)
{


.div1
{
   padding: 80px;
   
}
.div1 h1 
{
  font-size: 25px;
  position: relative;
  right: 30px;;

}
.div2
{
  padding: 100px;

}
.imagemc
{

width: 180px;

 
}
.imagemusica
{
 
 width: 180px;;
 
}
body{
  width: 100%;
}
}

/*----------------------1024-------------------------*/
@media (max-width:1024px)
{

}